<div class="breadcrumb">
    <nav>
        <ul class="list-inline">
            <li><a href="/dashboard" class="neutral">Dashboard</a></li>
            <li><%= breadCrumb %></li>
        </ul>
    </nav>
</div>